*{
  margin: 0%;
  padding: 0%;
  border: 0%;
  z-index: 0;
  text-decoration: none;
  border: 0px;
  box-shadow: none;
}

body{
  background-color: #002f67;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1{
  font-weight:bold;
  font-size: 4em;
}

h2{
  font-size: 30pt;
  color: #73c04a;
  text-transform:uppercase;
}

h3{
  font-weight:bolder;
  font-size: 32pt;
}

h4{
  font-size: 21pt;
  color: #73c04a;
  text-transform:uppercase;
}

h5{
  font-weight: normal;
  font-size: 18pt;
}

.h7{
  display: block;
  font-weight: bolder;
  font-size: 21pt;
  text-transform:uppercase;
  text-align: center;
}

.h8{
  display: block;
  font-weight: bold;
  font-style: italic;
  font-size: 21pt;
  text-align: center;
  color: #ffffff;
}

#header{
  width: 70%;
  height: 25%;
  position: relative;
  top: 0%;
  left: 0%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 4%;
}

#logo{
  height: 100%;
  width: 30%;
  display:block;
  float: left;
  margin-right: 4.5%;
}

#logo img{
  max-width:100%;
  max-height:100%;
}

#text-logo{
  height: 100%;
  width: 65%;
  display: block;
  float: left;
  text-align: left;
  color: white;
}

#title-logo{
  height: 35%;
  max-width: 100%;
  margin-top: 2.5em;
}

#subtitle-logo{
  max-width: 100%;
  height: 25%;
  margin-top: 1em;
  text-align: center;
}

.subtitle-url a{
  color: #ffffff;
}

#header-small{
  width: 56%;
  height: 18%;
  position: relative;
  top: 0%;
  left: 0%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 2%;
}

#logo-small{
  /*background-color: red;*/
  height: auto;
  width: 24%;
  display: block;
  float: left;
  margin-right: 4%;
}

#logo-small img{
  max-width: 100%;
  max-height: 100%;
}

#text-logo-small{
  /*background-color: green;*/
  height: 100%;
  width: 50%;
  display: block;
  float: left;
  text-align: left;
}

#title-logo-small{
  /*background-color: black;*/
  color: white;
  height: 40%;
  max-width:100%;
  margin-top: 1.5em;
}

#subtitle-logo-small{
  /*background-color: white;*/
  max-width:100%;
  height:25%;
  text-align:center;
  margin-top: 0.3em;
}

.icon{
  max-height: 4em;
  max-width:  4em;
  z-index: 1;
  display: inline-block;
}

.collum {
    width: calc(100% / 2);
    padding: 0 10px;
}

/*Customização Radio Button*/
.radio {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

label label{
  background-color: #73c04a;
  padding: 0.1em 1em 0.1em 1em;
  position: relative;
  bottom: -1px;
  left: -25px;
  z-index: -1;
  font-size: 18pt;
}

input[type=radio]{
  display: none;
}

.radio:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  border-radius: 15px;
}

input[type=radio]:checked + label .radio:before {
  content: "\2022";
  color: #73c04a;
  font-size: 50px;
  text-align: center;
  line-height: 31px;
}

/*------------------------*/
/*Login*/
#login-field{
  height: 22%;
  width: 35%;
  padding: 1.3em;
  position: relative;
  top: 10%;
  left: 0%;
  margin:0 auto;
  background-color: white;
  border-radius: 20px;
}

#login-user, #login-password{
  position: relative;
  top: 0%;
  left: 0%;
  height: 50%;
  width: 70%;
}

#login-user img, #login-password img{
  position: relative;
  bottom: 0%;
  left: 0%;

}

#login-user input, #login-password input{
  position:absolute;
  top: 25%;
  left: 1%;
  width: 100%;
  padding: 0.1em 0.5em 0.1em 3.5em;
  border: 2px solid #73c04a;
  border-radius: 10px;
  font-weight: normal ;
  font-size: 16pt;
}

#login-password a{
  position: absolute;
  top: 75%;
  right: 0%;
  color: black;
}

#icon-cadastro{
  position: relative;
  top:0%;
  left: 0%;
  height: 20%;
  width: 20%;
  background-color: green;
}
/*Cadastro*/
.collum-one, .collum-two{
  height: 70%;
  float: left;
  display: block;
  color: #ffffff;
  margin-left: 10%;
}

.collum input[type=text]{
  height: 2.5em;
  width: 100%;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.collum img{
}

.foto-perfil{
  width: 5  0%;
  height: 0%;
  position: relative;
  top: 0%;
  left: 0%;
}
.foto-perfil img{
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 100%;
  max-height: 100%;
}
.foto-perfil img:first-child{
  z-index: 1;
}

/*Pós-Login*/
#post-login-body{
  width: 50%;
  height: 45%;
  margin:0 auto;
  padding: 1em;
  background-color: #ffffff;
  border-radius: 10px;
}
#post-login-body img{
  max-width: 90%;
  max-height: 90%;
}
.post-login-option{
  height: 80%;
  width: 50%;
  float: left;
  display: inline;
  font-size: 36pt;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}

/*Tela Usuário*/
#profile-body{
  width: 50%;
  height: 50%;
  float: left;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0em 0em 1em 10%;
  padding: 1em;
}

#profile-body .foto-perfil{
  border: 3px solid black;
  width: 35%;
  height:100%;
  float: left;
}

#profile-data{
  float: left;
  margin-left: 1em;
}

#profile-nav{
  float: left;
  width: 25%;
  height: 60%;
  border-radius: 10px;
  margin: 0em 1em 1em 1em;
}

#profile-nav-top{
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: auto;
}

#profile-nav-top img{
  max-height: 100%;
  max-width: 100%;
}

#profile-nav-body{
  background-color: #ffffff;
  width: 100%;
  height: 72%;
  border-radius: 0px 0px 10px 10px;
}
/*FeedBack*/
#feedback-message{
  height: 45%;
  width: 50%;
  border-radius: 10px 0px 0px 10px;
  display: inline-block;
  float: left;
  margin-left: auto;
  padding: 1em;
  background-color: #ffffff;
}

#feedback-nav{
  height: 50%;
  width: 20%;
  background-color: green;
  border-radius: 0px 10px 10px 0px;
  display: inline-block;
  float: left;
  margin-right: auto;
  text-align: center;
}

#feedback-nav-top{
  height: auto;
  width: 100%;
  background-color: #02c40f;
  color: #ffffff;
}

/*Fale Conosco*/
#email-body{
  height: 40%;
  width: 50%;
  margin:0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1em 2em 2em 2em;
}

#email-body h5{
  font-weight: lighter;
  margin-bottom: 0.3em;
  font-size: 21pt;
}

textarea{
  border:1px solid black;
  width:100%;
  height:65%;
  margin-bottom: 2%;
  resize: none;
  padding: 0.5em;
}

#email-body input[type="submit"]{
  background-image: url("../images/button_light_accept.png");
  background-size: 100%;
  height: 3.5em;
  width: 3.5em;
  margin: 0 auto;
  display: block;
}

/*Processo Seletivo*/
.box-ps{
  width: 20%;
  height: 20%;
  margin: 1em;
  background-color: white;
  text-align: center;
  display: inline-block;
}

#action-ps{
  position: fixed;
  bottom: 0%;
  left: 40%;
  margin: 0 auto;
  height: 10%;
  width: 20%;
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  -webkit-transition: height 2s ease-out;
  -moz-transition: height 2s ease-out;
  -o-transition: height 2s ease-out;
  transition: height 2s ease-out;
}

#action-ps :hover{
  height: 20%;
}

#action-ps img{
  max-width: 40%;
  max-height: 40%;
}
