*{
  margin: 0%;
  padding: 0%;
  border:0%;
  z-index: 0;
  text-decoration: none;
  border-radius: 0px;
  box-shadow: none;
}

html{

}

body{
  background-color: #002f67;
  font-family:'Open Sans', sans-serif;
  overflow:hidden;
}

h1{
  font-weight:bold;
  font-size: 48pt;
}
h2{
  font-size: 30pt;
  color: #73c04a;
  text-transform:uppercase;
  margin-top: 0.5em;
}
h3{
  font-weight:normal;
  font-size: 18pt;
}
h4{
  font-weight:normal;
  font-size: 18pt;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

#header{
  width:80%;
  height:25%;
  position: relative;
  top: 0%;
  left: 0%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 4%;
  margin-bottom:4%;
}

#header img{
  max-width:100%;
  max-height:100%;
}

#logo{
  height:100%;
  width:25%;
  display:block;
  float: left;
  margin-right:3%;
}

#text-logo{
  height:100%;
  width:70%;
  display: block;
  float: left;
  text-align: center;
}

#title-logo{
  color: white;
  height:35%;
  max-width:100%;
  margin-top: 2.5em;
}

#subtitle-logo{
  max-width:100%;
  height:25%;
}
.subtitle-url{
  color: white;
}

#header-small{
  width:80%;
  height:20%;
  position: relative;
  top: 0%;
  left: 0%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom:2%;
}

#header-small img{
  max-width:100%;
  max-height:100%;
}

#logo-small{
  height:100%;
  width:20%;
  display:block;
  float: left;
  margin-right:2%;
}

#text-logo-small{
  height:100%;
  width:50%;
  display: block;
  float: left;
  text-align: left;
}

#title-logo-small{
  color: white;
  height:35%;
  max-width:100%;
  margin-top: 2.5em;
}

#subtitle-logo-small{
  max-width:100%;
  height:25%;
}

.icon{
  max-height: 3em;
  max-width:  3em;
  z-index: 1;
  display: inline-block;
}

input[type=radio]{
  display: none;
}

label{
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
  margin-right: 15px;
}

label:before{
  content:"";
  display: inline-block;

  width: 1.5em;
  height: 1.5em;

  margin-right: 10px;
  position:absolute;
  left: 0px;
  bottom: 1px;

  background-color: #ffffff;
  border-radius: 1.5em;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #000000;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}


/*------------------------*/
/*Login*/
#login-field{
  height:25%;
  width: 35%;
  padding: 2em;
  position: relative;
  top: 10%;
  left: 0%;
  margin:0 auto;
  background-color: white;
  border-radius: 10px;
}

#login-field input{
  height:2em;
  width: 50%;
  padding-left: 2em;
  border:2px solid #73c04a;
  border-radius: 10px;
  font-weight:500;
  font-size: 11pt;
}

#login-user img{
  position: relative;
  top: 0%;
  left: 0em;
  margin: auto 0%;
}

#login-user input{
  position:absolute;
  top: 18%;
  left: 3.5em;
  margin: auto 0%;
}

#login-password img{
  position: relative;
  top: 0%;
  left: 0em;
  margin: auto 0%;
}

#login-password input{
  position:absolute;
  top: 40%;
  left: 3.5em;
  margin: auto 0%;
}
/*Pós-Login*/
#post-login-body{
  width: 50%;
  height: 50%;
  margin:0 auto;
  background-color: #ffffff;
  border-radius: 10px;
}
#post-login-body img{
  max-width: 6em;
  max-height: 6em;
}
/*Tela Usuário*/
#profile-body{
  width: 50%;
  height: 50%;
  float: left;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 1em;
}

#profile-nav{
  float: left;
  width: 25%;
  height: 50%;
  border-radius: 10px;
  margin: 1em;
}

#profile-nav-top{
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: auto;
}

#profile-nav-top img{
  max-height: 100%;
  max-width: 100%;
}

#profile-nav-body{
  background-color: #ffffff;
  width: 100%;
  height:auto;
}

.collum{
  height:70%;
  width: 20%;
  display: inline-block;
  color: #ffffff;
  margin-top:4%;
}
/*Fale Conosco*/
#email-body{
  height: 40%;
  width: 55%;
  margin:0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1em 2em 2em 2em;
}

textarea{
  border:1px solid black;
  border-radius:10px;
  max-width:100%;
  max-height:100%;
}
