<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="./layout.css">
    <title>Teste</title>
  </head>

  <body class="center-thin">
    <div id="header" class="header-thin">
      <div id="header-logo" class="header-logo-thin">
      </div>
      <div id="header-text" class="header-text-thin">
        <div class="header-text-large-square-1">
        </div>
        <div id="header-text-thin-diamond">
          <h3>Processo Seletivo</h3>
        </div>

        <div class="header-text-thin-square-2 header-text-uppercase">
          <h3>informações</h3>
        </div>
      </div>
    </div>
    <div id="content" class="content-thin">
    </div>
  </body>
</html>
