<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="./layout.css">
    <title>Teste</title>
  </head>
  <body class="center-large">
    <div id="header" class="header-large">
      <div id="header-logo">
      </div>
      <div id="header-text" class="header-text-large">
        <div class="header-text-large-square-1">
        </div>
        <div id="header-text-large-diamond">
          <h3>Processo Seletivo</h3>
        </div>
        
        <div class="header-text-large-square-2">
          <h3>www.cjr.org.br</h3>
        </div>
      </div>
    </div>

    <div id="content" class="content-large">
      <div id="login-field">
        <div id="login-field-signup">
          <a href="#">Cadastre-se</a>
        </div>
        <div id="login-field-input">
          <div id="login-field-input-user">
            <input type="text" name="name" value="" placeholder="USUÁRIO">
          </div>
          <div id="login-field-input-password">
            <input type="password" name="name" value="" placeholder="SENHA">
            <a href="#">Esqueci minha senha</a>
          </div>
          <div id="login-field-input-submit">
            <input type="submit" name="name" value="">
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
