/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0%;
  padding: 0%;
  border: 0%;
  /*font-size: 100%;*/
  font-size: 10px; /*1em = 10px*/
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

div{
    display: block;
}
/*---------------------------------------*/

body{
  background-color: #002f67;
  font-family: 'Open Sans', sans-serif;
}

.header-text-uppercase p{
  text-transform: uppercase;
  font-weight: bolder;
  color: #73c04a;
  margin-top: 1%;
}

h3{
  font-size: 16pt;
  text-align: center;
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
}

h3:last-child{
  font-size: 16pt;
  text-align: right;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

h5{
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 16pt;
}
/*
input[type=radio]{
    display: none;
}
*/

.radio:before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50px;
    background-color: #DDD;
}

@media screen and (min-width: 319px) and (max-width: 480px){
  .center-large{
    max-width: 479px;
    width: 100%;
    margin: 0% auto;
  }

  .center-thin{
    max-width: 479px;
    width: 100%;
    margin: 0% auto;
  }

  #header{
    width: 100%;
  }

  .header-large{
    height: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .header-thin{
    height: 30%;
    margin-top: 7%;
    margin-bottom: 7%;
  }

  #header-logo{
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header-logo-large{
    height: 60%;
    width: 50%;
    margin: 0% auto 6% auto;
  }

  .header-logo-thin{
    height: 50%;
    width: 35%;
    margin: 0% auto 6% auto;
  }

  #header-text{
    height: 40%;
    width: 100%;
    text-align: center;
    color: #ffffff;
  }

  .header-text-large{
  }

  .header-text-thin{
  }

  #header-text-large-diamond{
    height: 43.589743589743589743589743589744%; /*(195px - 55px - 55px) / 195px*/
    width: 100%;
    font-size: 18pt;
    font-weight: bold;
  }

  .header-text-large-square-2{
    height: 28.205128205128205128205128205128%; /*55px / 195px*/
    width: 100%;
    font-size: 14pt;
    font-weight: normal;
  }

  .header-text-large-square-2 a{
    color: #ffffff;
  }

  #header-text-thin-diamond{
    height: 43.589743589743589743589743589744%; /*(195px - 55px - 55px) / 195px*/
    width: 100%;
    font-size: 18pt;
    font-weight: bold;
  }

  .header-text-thin-square-2{
    height: 28.205128205128205128205128205128%; /*55px / 195px*/
    width: 100%;
    font-size: 14pt;
    font-weight: normal;
  }

  .header-text-thin-square-2 a{
    color: #ffffff;
  }

  #content{
    width: 100%;
  }

  .content-large{
    height: 100%;
  }

  .content-thin{
    height: 100%;
  }

  #login-field{
    background-color: #ffffff;
    border-radius: 10px;
    width: 80%;
    height: 50%;
    padding: 0.5em;
    margin: 0% auto;
    text-align: center;
  }

  #login-field-signup{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #000000;
  }

  #login-field-signup a{
    color: #1c1c1c;
  }

  #login-field-input{
    width: 100%;
    height: 60%;
  }

  #login-field-input-submit{
    margin-top: 2%;
    height: 28%;
  }

  #login-field-input-user, #login-field-input-password{
    width: 100%;
    height: 50%;
    text-align: right;
  }

  #login-field-input-user input, #login-field-input-password input{
    width: 80%;
    height: 50%;
    padding-left: 10%;
    margin-top: 7%;
    border-radius: 10px;
    border: 2px solid #73c04a;
    font-weight: 600;
  }

  #login-field-input-user label:before{
    content: "";
    display: inline-block;
    height: 18%;
    width: 18%;
    position: absolute;
    margin: 2.3% 0% 0% -11%;
    background-image: url('../images/icon_user.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #login-field-input-password label:before{
    content: "";
    display: inline-block;
    height: 18%;
    width: 18%;
    position: absolute;
    margin: 2.3% 0% 0% -11%;
    background-image: url('../images/icon_password.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #login-field-input-password a{
    color: #1c1c1c;
    font-size: 10pt;
    display: block;
    margin-top: 1%;
  }

  #login-field-input-submit input[type="submit"]{
    width: 20%;
    height: 100%;
    display: block;
    margin: 0% auto;
    border: 0px solid #73c04a;
    background-image: url("../images//button_light_accept.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #profile-id{
    width: 80%;
    height: 100%;
    padding: 0.5em;
    margin: 0% auto 10% auto;
    background-color: #ffffff;
    border-radius: 10px;
  }

  #profile-id-photo{
    width: 100%;
    height: 60%;
    position: relative;
    top: 0%;
    left: 0%;
    background-color: #000;
  }

  #profile-id-photo-frame{
    width: 95.5%;
    height: 86.4%;
    position: relative;
    top: 0%;
    left: 0%;
    border: 5px solid #000000;
  }

  #profile-id-photo-name{
    width: 100%;
    height: 10%;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  #profile-id-photo-frame img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0% auto;
  }

  #profile-id-photo-frame img:first-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  #profile-id-photo-frame img:last-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
  }

  #profile-id-info{
    width: 94%;
    height: 33%;
    margin-top: 2.8%;
    padding: 0.5em;
    border-top: 1px solid #000000;
  }

  #profile-id-info p:nth-child(odd){
    font-weight: bold;
  }

  #profile-nav{
    width: 85%;
    height: 25%;
    margin: 0% auto 5% auto;
    text-align: center;
  }

  #profile-nav-top{
    width: 94%;
    height: 18%;
    padding: 0.5em;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    color: #ffffff;
  }

  #profile-nav-top span{
    height: 100%;
    width: 2em;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
  }

  /*profile-nav-top*/.aproved{
    background-color: #83d955;
  }

  /*profile-nav-top*/.aproved span{
    background-image: url("../images/icon_aproved.png");
  }

  .aproved:before{
      content: "aprovado";
      text-transform: uppercase;
      font-size: 16pt;
      position: relative;
      top: 10%;
      left: -1%;
  }

  /*profile-nav-top*/.avaliation{
    background-color: #b3b3b3;
  }

  /*profile-nav-top*/.avaliation span{
    display: none;
  }

  .avaliation:before{
      content: "em avaliação";
      text-transform: uppercase;
      font-size: 16pt;
      position: relative;
      top: 10%;
      left: 7%;
  }

  /*profile-nav-top*/.denied{
    background-color: #ed1c24;
  }

  /*profile-nav-top*/.denied span{
    background-image: url("../images/icon_denied.png");
  }

  .denied:before{
      content: "tente novamente";
      text-transform: uppercase;
      font-size: 16pt;
      position: relative;
      top: 10%;
      left: -1%;
  }

  /*profile-nav-top*/.none{
    background-color: #1c1c1c;
  }

  #profile-nav-top .none p{
    display: none;
  }

  /*profile-nav-top*/.none span{
    display: none;
  }

  #profile-nav-body{
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 70%;
  }

  .profile-nav-body-button{
    width: 25%;
    padding: 2% 0% 0% 0%;
    height: 94%;
    float: left;
  }

  .profile-nav-body-button img{
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: 0% auto;
  }

  .profile-nav-body-button p{
    font-size: 8pt;
  }

  .profile-nav-body-button a{
    color: #1c1c1c;
  }

  .profile-nav-body-button a:hover{
    color: #ffffff;
  }

  .profile-nav-body-button:hover{
    background-color: #73c04a;
  }

  .profile-nav-body-button:nth-child(1):hover{
    border-radius: 0px 0px 0px 10px;
  }

  .profile-nav-body-button:nth-child(4):hover{
    border-radius: 0px 0px 10px 0px;
  }

      @media screen and (orientation: landscape){
        .center-large{
          width: 81.25%;
        }

        .center-thin{
          width: 92.1875%; /*(1280 px - 50px - 50px) / 1280px*/
        }

        .header-large{
          height: 30%;
          margin-top: 10%;
          margin-bottom: 10%;
        }

        .header-thin{
          height: 30%;
          margin-top: 7%;
          margin-bottom: 7%;
        }

        #header-logo{
          float: left;
        }

        .header-logo-large{
          height: 100%;
          width: 38%;
          margin: 0% 5% 0% 0%;
        }

        .header-logo-thin{
          height: 100%;
          width: 35%;
          margin: 0% 5% 0% auto;
        }

        #header-text{
          height: 100%;
          width: 57%;
          float: left;
        }

        .header-text-large{
        }

        .header-text-thin{
        }

        #header-text-large-diamond{
          font-size: 16pt;
          font-weight: bold;
        }

        .header-text-large-square-1, .header-text-large-square-2{
          height: 28.205128205128205128205128205128%; /*55px / 195px*/
          width: 100%;
          font-size: 14pt;
          font-weight: normal;
        }

        #login-field{
          height: 70%;
        }

        #login-field-input-user label:before{
          height: 15%;
          width: 15%;
          margin: 2.7% 0% 0% -4%;
        }

        #login-field-input-password label:before{
          height: 15%;
          width: 15%;
          margin: 2.7% 0% 0% -4%;
        }

        #profile-id-photo{
          width: 45%;
          height: 60%;
          margin-right: 0%;
        }

        #profile-id-photo-frame{
          height: 79.4%;
        }

        #profile-id-info{
          width: 45%;
          height: 60%;
          margin-top: 2.8%;
          padding: 0.5em;
          border-top: 0px solid #000000;
          border-left: 1px solid #000000;
          background-color: #DDD;
        }

        #profile-nav{
          width: 84%;
          height: 35%;
          margin: 0% auto 5% auto;
          text-align: center;
        }

        #profile-nav-top{
          width: 95.4%;
          height: 15%;
          padding: 0.5em;
          border-radius: 10px 10px 0px 0px;
          font-weight: bold;
          color: #ffffff;
        }

        #profile-nav-body{
          width: 100%;
          height: 80%;
        }

      }
}
