@media screen and (min-width: 768px) and (max-width: 1200px){
  .center-large{
    max-width: 1200px;
    width: 81.25%; /*(1280 px - 240px) / 1280px*/
    margin: 0% auto;
  }

  .center-thin{
    max-width: 1200px;
    width: 92.1875%; /*(1280 px - 50px - 50px) / 1280px*/
    margin: 0% auto;
  }

  #header{
    width: 100%;
  }

  .header-large{
    height: 11.125%; /*(195px + 110px) / 800 px;*/
    margin-top: 6.875%; /*55px / 800px */
    margin-bottom: 6.875%; /*55px / 800px */
  }

  .header-thin{
    height: 13.125%; /*(195px + 110px) / 800 px;*/
    margin-top: 4.875%; /*55px / 800px */
    margin-bottom: 4.875%; /*55px / 800px */
  }

  #header-logo{
    height: 100%;
    background-image: url("../images//logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
  }

  .header-logo-large{
    width: 26.519%; /*(362px - 55px) / 1040px*/
    margin-right: 4.288%; /*55px / 1180px*/
  }

  .header-logo-thin{
    width: 27.712%; /*(233px - 35.8px) / 1040px*/
    margin-right: 5.034%; /*35.8px / 1040px*/
  }

  #header-text{
    height: 100%;
    width: 65.192308%; /*678px / 1040px*/
    float: left;
    color: #ffffff;
  }

  #header-text-large-diamond{
    height: 43.589744%; /*(195px - 55px - 55px) / 195px*/
    width: 90%;
    font-size: 2.6em;
    font-weight: bold;
  }

  .header-text-large-square-1, .header-text-large-square-2{
    height: 28.205128%; /*55px / 195px*/
    width: 90%;
    font-size: 1.6em;
    font-weight: normal;
    text-align: center;
  }

  #header-text-thin-diamond{
    height: 43.589743589743589743589743589744%; /*(195px - 55px - 55px) / 195px*/
    width: 75%;
    font-size: 2.4em;
    font-weight: bold;
  }

  .header-text-thin-square-1, .header-text-thin-square-2{
    height: 28.205128%; /*55px / 195px*/
    width: 75%;
    font-size: 1.6em;
    font-weight: normal;
    text-align: center;
  }

  .header-text-large-square-1 a, .header-text-large-square-2 a, .header-text-thin-square-1 a, .header-text-thin-square-2 a{
    color: #ffffff;
  }

  #content{
    width: 100%;
  }

  .content-large{
    height: 70%;
  }

  .content-thin{
    height: 70%;
  }

  #login-field{
    background-color: #ffffff;
    border-radius: 10px;
    width: 80%;
    height: 40%;
    padding: 0.5em;
    margin: 0% auto;
    text-align: center;
  }

  #login-field-signup{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #000000;
  }

  #login-field-signup img{
    max-width: 80%;
    max-height: 80%;
  }

  #login-field-signup a{
    color: #1c1c1c;
  }

  #login-field-input{
    width: 100%;
    height: 60%;
  }

  #login-field-input-submit{
    margin-top: 2%;
    height: 28%;
  }

  #login-field-input-user, #login-field-input-password{
    width: 100%;
    height: 50%;
    text-align: right;
  }

  #login-field-input-user input, #login-field-input-password input{
    width: 80%;
    height: 50%;
    padding-left: 10%;
    margin-top: 7%;
    border-radius: 10px;
    border: 2px solid #73c04a;
  }

  #login-field-input-user label:before{
    content: "";
    display: inline-block;
    height: 9%;
    width: 9%;
    position: absolute;
    margin: 2.2% 0% 0% -3%;
    background-image: url('../images/icon_user.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #login-field-input-password label:before{
    content: "";
    display: inline-block;
    height: 9%;
    width: 9%;
    position: absolute;
    margin: 2.2% 0% 0% -3%;
    background-image: url('../images/icon_password.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #login-field-input-password a{
    color: #1c1c1c;
    font-size: 10pt;
    display: block;
    margin-top: 1%;
  }

  #login-field-input-submit input[type="submit"]{
    width: 20%;
    height: 100%;
    display: block;
    margin: 0% auto;
    border: 0px solid #73c04a;
    background-image: url("../images//button_light_accept.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #profile-id{
    width: 100%;
    height: 50%;
    padding: 0.5em;
    margin: 0% auto 10% auto;
    background-color: #ffffff;
    border-radius: 10px;
  }

  #profile-id-photo{
    width: 45%;
    height: 100%;
    float: left;
    margin-right: 3%;:
  }

  #profile-id-photo-frame{
    width: 100%;
    height: 90%;
    position: relative;
    top: 0%;
    left: 0%;
    border: 5px solid #000000;
  }

  #profile-id-photo-name{
    width: 100%;
    height: 10%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
  }

  #profile-id-photo-frame img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0% auto;
  }

  #profile-id-photo-frame img:first-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  #profile-id-photo-frame img:last-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
  }

  #profile-id-info{
    width: 50%;
    height: 85%;
    padding: 0.5em;
    position: relative;
    top: 0%;
    left: 0%;
    display: inline-block;
  }

  #profile-id-info p:nth-child(odd){
    font-weight: bold;
  }

  #profile-nav{
    width: 85%;
    height: 25%;
    margin: 0% auto 5% auto;
    text-align: center;
  }

  #profile-nav-top{
    width: 100%;
    height: 30%;
    padding: 0.5em;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    color: #ffffff;
  }

  #profile-nav-top p{
    max-width: 70%;
    display: inline-block;
  }

  #profile-nav-top span{
    height: 100%;
    width: 3em;
    display: inline-block;
    position: relative;
    top: 0%;
    right: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
  }

  /*profile-nav-top*/.aproved{
    background-color: #83d955;
  }

  /*profile-nav-top*/.aproved span{
    background-image: url("../images/icon_aproved.png");
  }

  /*profile-nav-top*/.aproved:before{
      content: "aprovado";
      text-transform: uppercase;
      font-size: 1.6em;
      position: relative;
      top: 15%;
      left: -1%;
  }

  /*profile-nav-top*/.avaliation{
    background-color: #b3b3b3;
  }

  /*profile-nav-top*/.avaliation span{
    display: none;
  }

  /*profile-nav-top*/.avaliation:before{
      content: "em avaliação";
      text-transform: uppercase;
      font-size: 1.6em;
      position: relative;
      top: 10%;
      left: 7%;
  }

  /*profile-nav-top*/.denied{
    background-color: #ed1c24;
  }

  /*profile-nav-top*/.denied span{
    background-image: url("../images/icon_denied.png");
  }

  /*profile-nav-top*/.denied:before{
      content: "tente novamente";
      text-transform: uppercase;
      font-size: 1.6em;
      position: relative;
      top: 10%;
      left: -1%;
  }

  /*profile-nav-top*/.signin{
    background-color: #83d955;
  }

  /*profile-nav-top*/.signin span{
    display: none;
  }

  /*profile-nav-top*/.signin:before{
      content: "inscreva-se";
      text-transform: uppercase;
      font-size: 1.6em;
      position: relative;
      top: 10%;
      left: 7%;
  }

  /*profile-nav-top*/.none{
    background-color: #1c1c1c;
  }

  /*profile-nav-top*/#profile-nav-top .none p{
    display: none;
  }

  /*profile-nav-top*/.none span{
    display: none;
  }

  #profile-nav-body{
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 70%;
  }

  .profile-nav-body-button{
    width: 25%;
    padding: 2% 0% 0% 0%;
    height: 100%;
    float: left;
  }

  .profile-nav-body-button img{
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: 0% auto;
  }

  .profile-nav-body-button p{
    font-size: 1em;
  }

  .profile-nav-body-button a{
    color: #1c1c1c;
  }

  .profile-nav-body-button a:hover{
    color: #ffffff;
  }

  .profile-nav-body-button:hover{
    background-color: #73c04a;
  }

  .profile-nav-body-button:nth-child(1):hover{
    border-radius: 0px 0px 0px 10px;
  }

  .profile-nav-body-button:nth-child(4):hover{
    border-radius: 0px 0px 10px 0px;
  }

  .edit-info-column-3{
    width: 100%;
    height: auto;
    color: #ffffff;
    font-size: 1.4em;
  }

  .edit-info-column-3 input[type="text"], .edit-info-column-3 input[type="password"]{
    height: 2.5em;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.8em;
  }

  .edit-info-column-3 img{
    max-width: 100%;
    max-height: 100%;
  }

  #edit-info-photo{
    width: 100%;
    height: 55%;
    float: left;
  }

  #edit-info-photo-frame{
    width: 100%;
    height: 92.1%;
    position: relative;
    top: 0%;
    left: 0%;
  }

  #edit-info-photo-name{
    width: 100%;
    height: 10%;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  #edit-info-photo-frame img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0% auto;
  }

  #edit-info-photo-frame img:first-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  #edit-info-photo-frame img:last-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
  }

  #feedback{
    width: 90%;
    height: 100%;
    margin: 0% auto;
  }

  #feedback-text{
      width: 100%;
      height: 85%;
  }

  #feedback-nav{
      width: 100%;
      height: 15%;
      border-bottom: 1px solid #000;
  }

  #feedback-text-message{
      width: 100%;
      height: 80%;
      padding: 1em;
      background-color: #fff;
      border-radius: 0em 0em 0em 0em;
  }

  #feedback-text-footer{
      width: 100%;
      height: 10%;
      background-color: #fff;
      border-radius: 0em 0em 1em 1em;
      border-top: 1px solid #000;
      text-align: center;
  }

  #feedback-nav-top{
      width: 100%;
      height: 50%;
      background-color: #73c14a;
      border-radius: 1em 1em 0em 0em;
      padding-top: 0.5em;
      color: #fff;
      text-align: center;
      font-size: 1.6em;
  }

  #feedback-nav-body{
      width: 100%;
      height: 50%;
      background-color: #fff;
      border-radius: 0em 0em 0em 0em;
      text-align: center;
      position: relative;
      top: 0%;
      left: 0%;
  }

  .feedback-nav-before{
      display: inline-block;
      position: absolute;
      top: 0%;
      left: 0%;
      background-color: #eee;
      background-image: url("../images/nav_after_feedback.png");
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      height: 100%;
      width: 4em;
  }

  .feedback-nav-after{
      display: inline-block;
      position: absolute;
      top: 0%;
      right: 0%;
      background-color: #eee;
      background-image: url("../images/nav_after_feedback.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      width: 4em;
  }

  #feedback-nav-body p{
     margin: 0.5em;
  }

  #email-field{
    height: 55%;
    width: 100%;
    padding: 0.8em;
    background-color: #ffffff;
    margin: 0% auto;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: #1c1c1c;
  }

  #email-field-message{
    height: 80%;
    width: 100%;
  }

  #email-field-message textarea{
    height: 80%;
    width: 100%;
    padding: 0.5em;
    margin-top: 5%;
    border: 1px solid #1c1c1c;
    border-radius: 10px;
    resize: none;
    font-family: 'Open Sans';
    font-size: 10pt;
  }

  #email-field-footer{
    height: 20%;
    width: 100%;
  }

      @media screen and (orientation: landscape){
          #header{
            width: 100%;
          }

          .header-large{
            height: 11.125%; /*(195px + 110px) / 800 px;*/
            margin-top: 6.875%; /*55px / 800px */
            margin-bottom: 6.875%; /*55px / 800px */
          }

          .header-thin{
            height: 13.125%; /*(195px + 110px) / 800 px;*/
            margin-top: 4.875%; /*55px / 800px */
            margin-bottom: 4.875%; /*55px / 800px */
          }

          .header-logo-large{
            width: 26.519%; /*(362px - 55px) / 1040px*/
            margin-right: 4.288%; /*55px / 1180px*/
          }

          .header-logo-thin{
            width: 16.712%; /*(233px - 35.8px) / 1040px*/
            margin-right: 4.034%; /*35.8px / 1040px*/
          }

          #header-text{
            height: 100%;
            width: 65.192308%; /*678px / 1040px*/
          }

          #header-text-large-diamond{
            width: 90%;
          }

          .header-text-large-square-1, .header-text-large-square-2{
            width: 90%;
          }

          #header-text-thin-diamond{
            width: 60%;
          }

          .header-text-thin-square-1, .header-text-thin-square-2{
            width: 55%;
          }

          #profile-id{
            width: 90%;
            height: 80%;
          }

          #profile-id-photo{
            width: 45%;
            height: 100%;
          }

          #profile-nav{
            width: 60%;
            height: 25%;
            margin: 0% auto 3% auto;
          }
      }

}
