@media screen and (min-width: 1201px){
  .center-large{
    max-width: 1280px;
    width: 81.25%; /*(1280 px - 240px) / 1280px*/
    margin: 0% auto;
  }

  .center-thin{
    max-width: 1280px;
    width: 92.1875%; /*(1280 px - 50px - 50px) / 1280px*/
    margin: 0% auto;
  }

  #header{
    width: 100%;
  }

  .header-large{
    height: 24.375%; /*(195px) / 800 px;*/
    margin-top: 6.875%; /*55px / 800px */
    margin-bottom: 6.875%; /*55px / 800px */
  }

  .header-thin{
    height: 14.4875%; /*(187.5px - 35.8px - 35.8 px)/ 800px*/
    margin-top: 2.475%;
    margin-bottom: 2.475%;
  }

  #header-logo{
    height: 100%;
    background-image: url("../images//logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
  }

  .header-logo-large{
    width: 29.519230769230769230769230769231%; /*(362px - 55px) / 1040px*/
    margin-right: 5.2884615384615384615384615384615%; /*55px / 1040px*/
  }

  .header-logo-thin{ /*Conversar com grupo*/
    width: 12.40625%; /*(233px - 35.8px) / 1180px*/
    margin-right: 3.0338983050847457627118644067797%; /*35.8px / 1180px*/
  }

  #header-text{
    height: 100%;
    float: left;
    color: #ffffff;
  }

  .header-text-large{
    width: 60.192308%; /*678px / 1040px*/
  }

  .header-text-thin{
    width: 27.559322033898305084745762711864%; /*396px / 1180px*/
  }

  #header-text-large-diamond{
    height: 43.589743589743589743589743589744%; /*(195px - 55px - 55px) / 195px*/
    width: 100%;
    font-size: 48pt;
    font-weight: bold;
  }

  .header-text-large-square-1, .header-text-large-square-2{
    height: 28.205128205128205128205128205128%; /*55px / 195px*/
    width: 100%;
    font-size: 24pt;
    font-weight: normal;
    text-align: center;
  }

  .header-text-large-square-1 a, .header-text-large-square-2 a{
    color: #ffffff;
  }

  #header-text-thin-diamond{
    height: 43.589743589743589743589743589744%; /*(195px - 55px - 55px) / 195px*/
    width: 100%;
    font-size: 26pt;
    font-weight: bold;
  }

  .header-text-thin-square-1, .header-text-thin-square-2{
    height: 28.205128205128205128205128205128%; /*55px / 195px*/
    width: 100%;
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
  }

  #content{
    width: 100%;
  }

  .content-large{
    height: 48.125%;
  }

  .content-thin{
    height: 67.563%;
  }

  #login-field{
    background-color: #ffffff;
    border-radius: 10px;
    width: 52.596153846153846153846153846154%; /*567px - 10px - 10px / 1040px*/
    height: 60%; /*227px - 10px - 10 px / 800px*/
    min-width: 52.596153846153846153846153846154%; /*567px - 10px - 10px / 1040px*/
    min-height: 60%; /*227px - 10px - 10 px / 800px*/
    padding: 1em;
    margin: 0% auto;
    text-align: center;
  }

  #login-field-signup{
    width: 20%;
    height: 100%;
    border-left: 1px solid #000000;
    float: right;
  }

  #login-field-signup img{
    max-height: 50%;
  }

  #login-field-signup a{
    color: #1c1c1c;
  }

  #login-field-input{
    width: 77%;
    height: 75%;
    margin-right: 10%;
    padding-right: 1em;
  }

  #login-field-input-submit{
    margin-top: 2%;
    height: 28%;
  }

  #login-field-input-user, #login-field-input-password{
    width: 100%;
    height: 50%;
    text-align: right;
  }

  #login-field-input-user input, #login-field-input-password input{
    height: 55%;
    width: 95%;
    padding-left: 10%;
    margin-top: 3%;
    border-radius: 10px;
    border: 2px solid #73c04a;
    font-weight: 600;
    color: #1c1c1c;
  }

  #login-field-input-user label:before{
    content: "";
    display: inline-block;
    height: 8%;
    width: 8%;
    position: absolute;
    margin: 0.1% 0% 0% -1.5%;
    background-image: url('../images/icon_user.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #login-field-input-password label:before{
    content: "";
    display: inline-block;
    height: 8%;
    width: 8%;
    position: absolute;
    margin: 0.1% 0% 0% -1.5%;
    background-image: url('../images/icon_password.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #login-field-input-password a{
    color: #1c1c1c;
    font-size: 10pt;
    display: block;
    margin-top: 1%;
  }

  #login-field-input-submit input[type="submit"]{
    width: 10%;
    height: 100%;
    display: block;
    margin: 0% auto;
    border: 0px solid #73c04a;
    background-image: url("../images//button_light_accept.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #profile-id{
    width: 60%;
    height: 80%;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 10px;
  }

  #profile-id-photo{
    width: 39%;
    height: 100%;
    float: left;
    margin-right: 3%;:
  }

  #profile-id-photo-frame{
    width: 100%;
    height: 84%;
    position: relative;
    top: 0%;
    left: 0%;
    border: 5px solid #000000;
  }

  #profile-id-photo-name{
    width: 100%;
    height: 13%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
  }

  #profile-id-photo-frame img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0% auto;
  }

  #profile-id-photo-frame img:first-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  #profile-id-photo-frame img:last-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
  }

  #profile-id-info{
    width: 50%;
    height: 85%;
    padding: 0.5em;
    position: relative;
    top: 0%;
    left: 0%;
    display: inline-block;
  }

  #profile-id-info p:nth-child(odd){
    font-weight: bold;
  }

  #profile-nav{
    width: 30%;
    height: 80%;
    margin: 0%;
    text-align: center;
    float: right;
  }

  #profile-nav-top{
    width: 100%;
    height: 20%;
    padding: 0.5em;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    color: #ffffff;
  }

  #profile-nav-top p{
    max-width: 70%;
    display: inline-block;
    font-size: 18pt;
  }

  #profile-nav-top span{
    height: 100%;
    width: 15%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    position: relative;
    top: 8%;
    right: 5%;
  }

  /*profile-nav-top*/.aproved{
    background-color: #83d955;
  }

  /*profile-nav-top*/.aproved span{
    background-image: url("../images/icon_aproved.png");
  }

  .aproved:before{
      content: "aprovado";
      text-transform: uppercase;
      font-size: 21pt;
      position: relative;
      top: 30%;
      left: 5%;
  }

  /*profile-nav-top*/.avaliation{
    background-color: #b3b3b3;
  }

  /*profile-nav-top*/.avaliation span{
    display: none;
  }

  .avaliation:before{
      content: "em avaliação";
      text-transform: uppercase;
      font-size: 21pt;
      position: relative;
      top: 30%;
      left: 5%;
  }

  /*profile-nav-top*/.denied{
    background-color: #ed1c24;
  }

  /*profile-nav-top*/.denied span{
    background-image: url("../images/icon_denied.png");
  }

  .denied:before{
      content: "tente novamente";
      text-transform: uppercase;
      font-size: 21pt;
      position: relative;
      top: 30%;
      left: -3%;
  }

  /*profile-nav-top*/.none{
    background-color: #1c1c1c;
  }

  #profile-nav-top .none p{
    display: none;
  }

  /*profile-nav-top*/.none span{
    display: none;
  }

  #profile-nav-body{
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 80%;
  }

  .profile-nav-body-button{
    height: 50%;
    width: 50%;
    padding: 4% 0%;
    float: left;
  }

  .profile-nav-body-button img{
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: 0% auto;
  }

  .profile-nav-body-button p{
    font-size: 12pt;
    margin-top: 5%;
  }

  .profile-nav-body-button a{
    color: #1c1c1c;
  }

  .profile-nav-body-button a:hover{
    color: #ffffff;
  }

  .profile-nav-body-button:hover{
    background-color: #73c04a;
  }

  .profile-nav-body-button:nth-child(3):hover{
    border-radius: 0px 0px 0px 10px;
  }

  .profile-nav-body-button:nth-child(4):hover{
    border-radius: 0px 0px 10px 0px;
  }

  #email-field{
    height: 80%;
    width: 60%;
    padding: 1em;
    background-color: #ffffff;
    margin: 0% auto;
    border-radius: 10px;
  }

  #email-field-message{
    height: 80%;
    width: 100%;
  }

  #email-field-message textarea{
    height: 80%;
    width: 100%;
    padding: 0.5em;
    margin-top: 2%;
    border: 1px solid #1c1c1c;
    border-radius: 10px;
    resize: none;
    font-family: 'Open Sans';
    font-size: 10pt;
  }

  #email-field-footer{
    height: 20%;
    width: 100%;
  }

  #email-field-footer input[type="submit"]{
    width: 10%;
    height: 100%;
    display: block;
    margin: 0% auto;
    border: 0px solid #73c04a;
    background-image: url("../images//button_light_accept.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #postlogin-field{
    width: 60%;
    height: 100%;
    margin: 0% auto;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .postlogin-field-button{
    height: 100%;
    width: 50%;
    padding: 2%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24pt;
    color: #1c1c1c;
  }

  .postlogin-field-button a{
    color: #1c1c1c;
  }

  .postlogin-field-button img{
    max-height: 80%;
    max-width: 80%;
    display: block;
    margin: 0% auto;
  }

  .postlogin-field-button:last-child{
    border-left: 3px solid #1c1c1c;
  }

  .postlogin-field-button:hover, .postlogin-field-button:hover a{
    background-color: #73c04a;
    color: #ffffff;
  }

  .postlogin-field-button:hover:first-child{
    border-radius: 10px 0px 0px 10px;
  }

  .postlogin-field-button:hover:last-child{
    border-radius: 0px 10px 10px 0px;
  }

  #interview{
    height: 80%;
    width: 80%;
    margin: 0% auto;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
  }

  #interview table{
    margin: 0% auto;
    background-color: #002f67;
  }

  #interview td{
    min-width: 6em;
    background-color: #fff;
  }

  #interview tr:nth-child(2) td:nth-child(n+2){
    background-color: #64a641;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    padding: 0.5em;
  }

  #interview tr:nth-child(n+3) td:first-child{
    background-color: #64a641;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    padding: 0.5em;
  }

  .edit-info-column-3{
    width: 20.9999%;
    height: auto;
    margin-left: 10%;
    float: left;
    color: #ffffff;
  }

  .edit-info-column-3 input[type="text"], .edit-info-column-3 input[type="password"]{
    height: 2.5em;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .edit-info-column-3 img{
    max-width: 100%;
    max-height: 100%;
  }

  #edit-info-photo{
    width: 100%;
    height: 80%;
    float: left;
  }

  #edit-info-photo-frame{
    width: 100%;
    height: 92.1%;
    position: relative;
    top: 0%;
    left: 0%;
  }

  #edit-info-photo-name{
    width: 100%;
    height: 10%;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  #edit-info-photo-frame img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0% auto;
  }

  #edit-info-photo-frame img:first-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  #edit-info-photo-frame img:last-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
  }

  .form-column-3{
    width: 20.9999%;
    height: auto;
    float: left;
    margin-left: 10%;
    color: #ffffff;
    font-wieght: lighter;
  }

  .form-column-3 input[type="text"], .form-column-3 input[type="password"]{
    height: 2.5em;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .form-column-3 input[type="submit"]{
    width: 20%;
    height: 20%;
    display: block;
    margin: 0% auto;
    border: 0px solid #73c04a;
    background-image: url("../images/button_dark_accept.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .formcolumn-3 img{
    max-width: 100%;
    max-height: 100%;
  }

  #form-photo{
    width: 100%;
    height: 80%;
    float: left;
  }

  #form-photo-frame{
    width: 100%;
    height: 92.3%;
    position: relative;
    top: 0%;
    left: 0%;

  }

  #form-photo-name{
    width: 100%;
    height: 10%;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  #form-photo-frame img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0% auto;
  }

  #form-photo-frame img:first-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  #form-photo-frame img:last-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
  }

  #recovery-field{
    height: 50%;
    width: 50%;
    background-color: #fff;
    padding: 1em;
    margin: 0% auto;
    border-radius: 10px;
  }

  #recovery-field input[type="text"]{
    width: 80%;
    height: auto;
    margin: 3% 0%;
  }

  #recovery-field input[type="submit"]{
    width: 15%;
    height: 30%;
    display: block;
    margin: 0% auto;
    border: 0px solid #73c04a;
    background-image: url("../images/button_light_accept.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .activity-column-2{
    height: 50%;
    width: 40%;
    margin-top: 2%;
    margin-left: 10%;
    float: left;
    text-align: center;
    color: #ffffff;
  }

  #feedback{
    width: 80%;
    height: 80%;
    margin: 0% auto;
  }

  #feedback-text{
    width: 70%;
    height: 100%;
    background-color: purple;
    float: left;
  }

  #feedback-text-message{
    width: 100%;
    height: 80%;

  }

  #feedback-text-footer{
    width: 100%;
    height: 20%;
  }

  #feedback-nav{
    width: 20%;
    height: 100%;
    background-color: green;
  }

  #feedback-nav-top{
    width: 100%;
    height: 20%;
    background-color: green;
  }

  #feedback-nav-body{
    width: 100%;
    height: 80%;
    background-color: green;
  }

  .admin-create-column-2{
    width: 20%;
    height: auto;
    float: left;
    margin-left: 20%;
    color: #ffffff;
  }

  .admin-create-column-2 input[type="text"], .admin-create-column-2 input[type="password"]{
    height: 2.5em;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  #admin-feedback{
    width: 73.828125%; /*945px*/ /*1180*/
    height: 100%; /*564px*/ /*1800*/
    margin: 6% auto 0% auto;
  }

  #admin-feedback-top{
    width: 100%;
    height: 15%;
    padding: 1em 1em 1em 4em;
    background-color: #1c1c1c;
    border-radius: 10px 10px 0px 0px;
    color: #ffffff;
  }

  #admin-feedback-body{
    width: 100%;
    height: 70%;
    background-color: #ffffff;
  }

  #admin-feedback-footer{
    width: 100%;
    height: 15%;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #000000;
  }

  #admin-feedback img{
    max-height: 100%;
  }

  #admin-feedback-top h5{
    width: 50%;
    height: 100%;
    display: inline-block;
    text-align: left;
  }

  #admin-feedback-body-text{
    width: 75%;
    height: 99.8%;
    padding: 1em;
    float: left;
    overflow-y: scroll;
  }

  #admin-feedback-body-interviewers{
    width: 25%;
    height: 100%;
    float: left;
    border-left: 1px solid #000000;
  }

  #admin-feedback-body-interviewers-button{
    width: 100%;
    height: 20%;
    padding: 0.5em 0em;
    text-align: center;
    border-bottom: 1px solid #000000;
  }

  #admin-feedback-body-interviewers-list{
    height: 86.9999%;
    text-align: center;
  }

  #admin-feedback-body-interviewers-button img{
    display: block;
    margin: 0% auto;
    max-height: 70%;
  }

  #admin-feedback-body-interviewers-button:hover{
    color: #ffffff;
    background-color: #000000;
  }

  #admin-feedback-body-interviewers-list p{
    margin: 0.5em 0em;
  }

  .admin-info-column-2{
    width: 20%;
    height: auto;
    float: left;
    margin-left: 20%;
    color: #ffffff;
  }

  .admin-info-column-2 input[type="text"], .admin-info-column-2 input[type="password"]{
    height: 2.5em;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .admin-info-column-2 .button-box{
    height: 15%;
    width: 100%;
  }

  #list-admin table{
    border-collapse: collapse;
    width: 60%;
    height: auto;
    margin: 5% auto 0% auto;
  }

  #list-admin table thead{
    /*Thead não aceita padding*/
    background-color: #333333;
    border-collapse: collapse;
    color: #ffffff;
  }

  #list-admin table th{
    padding: 0.3em;
    text-align: center;
  }

  #list-admin table th:first-child{
    -moz-border-radius: 10px 0px 0px 0px;
    -webkit-border-radius: 10px 0px 0px 0px;
    border-radius: 10px 0px 0px 0px;
  }

  #list-admin table th:last-child{
    -moz-border-radius: 0px 10px 0px 0px;
    -webkit-border-radius: 0px 10px 0px 0px;
    border-radius: 0px 10px 0px 0px;
  }

  #list-admin table tbody{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
  }

  #list-admin table td{
    padding: 0.5em;
    text-align: center;
    width: 60%;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  #list-admin table td img{
    max-height: 2em;
  }

  #page-admin{
    width: 64%;
    height: 80%;
    margin:0 auto;
    position: relative;
    top: 7%;
    left: 0%;
  }

  #page-admin-info{
    width: 100%;
    height: 54.9999%;
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    padding: 1em;
  }

  #page-admin-nav{
    width: 100%;
    height: 44.9999%;
    background-color: #1c1c1c;
    border-radius: 0px 0px 10px 10px;
  }

  .count-activity{
    width: 50%;
    height: 80%;
    display: block;
    float: left;
    padding: 0.5em;
    text-align: center;
    position: relative;
    top: 0%;
    left: 0%;
  }

  .counter{
      display: block;
      position: relative;
      width: 40%;
      height: 40%;
      margin: 2% auto;
  }

  .count-activity span span:first-child{
    width: 3em;
    height: 3em;
    display: block;
    background-color: #002f67;
    text-align: center;
    border-radius: 3em;
    position: absolute;
    color: #ffffff;
    box-sizing: border-box;
    padding-top: 1em;
  }

  .count-activity span span:last-child{
    width: 7em;
    height: 3em;
    display: block;
    background-color: #73c04a;
    color: #ffffff;
    margin-left: 1.5em;
    box-sizing: border-box;
    padding-top: 1em;
    font-weight: bold;
  }

  .page-admin-nav-button{
    height: 100%;
    width: 25%;
    padding: 0.5em;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 1em;
  }

  .page-admin-nav-button:nth-child(1){
    border-radius: 0px 0px 0px 10px;
  }

  .page-admin-nav-button:nth-child(4){
    border-radius: 0px 0px 10px 0px;
  }

  .page-admin-nav-button:hover{
    background-color: #73c04a;
    color: #1c1c1c;
  }

  .page-admin-nav-button img{
    display: block;
    margin: 0% auto;
    max-height: 80%;
  }

  #list-user table{
    border-collapse: collapse;
    width: 60%;
    height: auto;
    margin:0 auto;
    position: relative;
    top: 7%;
    left: 0%;
  }

  #list-user table thead{
    /*Thead não aceita padding*/
    background-color: #333333;
    border-collapse: collapse;
    color: #ffffff;
  }

  #list-user table th{
    padding: 0.3em;
    text-align: center;
  }

  #list-user  table th:first-child{
    -moz-border-radius: 10px 0px 0px 0px;
    -webkit-border-radius: 10px 0px 0px 0px;
    border-radius: 10px 0px 0px 0px;
  }

  #list-user  table th:last-child{
    -moz-border-radius: 0px 10px 0px 0px;
    -webkit-border-radius: 0px 10px 0px 0px;
    border-radius: 0px 10px 0px 0px;
  }

  #list-user table tbody{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
  }

  #list-user table td{
    max-height: 1em;
    width: 60%;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
  }

  #list-user table td img{
    max-height: 2em;
  }

  #infouser-id{
    width: 60%;
    height: 80%;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 10px;
  }

  #infouser-id-photo{
    width: 39%;
    height: 100%;
    float: left;
    margin-right: 3%;:
  }

  #infouser-id-photo-frame{
    width: 100%;
    height: 84%;
    position: relative;
    top: 0%;
    left: 0%;
    border: 5px solid #000000;
  }

  #infouser-id-photo-name{
    width: 100%;
    height: 13%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
  }

  #infouser-id-photo-frame img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0% auto;
  }

  #infouser-id-photo-frame img:first-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  #infouser-id-photo-frame img:last-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
  }

  #infouser-id-info{
    width: 50%;
    height: 85%;
    padding: 0.5em;
    position: relative;
    top: 0%;
    left: 0%;
    display: inline-block;
  }

  #infouser-id-info p:nth-child(odd){
    font-weight: bold;
  }

  #infouser-nav{
    width: 30%;
    height: 80%;
    margin: 0%;
    text-align: center;
    float: right;
  }

  #infouser-nav-top{
    width: 100%;
    height: 20%;
    padding: 0.5em;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    color: #ffffff;
  }

  #infouser-nav-top p{
    max-width: 70%;
    display: inline-block;
    font-size: 18pt;
  }

  #infouser-nav-top span{
    height: 100%;
    width: 15%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    position: relative;
    top: 8%;
    right: 5%;
  }

  #infouser-interview{
      width: 60%;
      height: 20%;
      margin-top: 1%;
      overflow-x: scroll;
      overflow-y: hidden;
      background-color: #ffffff;
      border-radius: 10px;
  }

  .infouser-date{
      width: 100%;
      height: 6em;
      background-color: black;
      position: relative;
      top: 0%;
      left: 0%;
  }

  .infouser-date img{
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: 1;
  }

  /*infouser-nav-top*/.aproved{
    background-color: #83d955;
  }

  /*infouser-nav-top*/.aproved span{
    background-image: url("../images/icon_aproved.png");
  }

  .aproved:before{
      content: "aprovado";
      text-transform: uppercase;
      font-size: 21pt;
      position: relative;
      top: 30%;
      left: 5%;
  }

  /*infouser-nav-top*/.avaliation{
    background-color: #b3b3b3;
  }

  /*infouser-nav-top*/.avaliation span{
    display: none;
  }

  .avaliation:before{
      content: "em avaliação";
      text-transform: uppercase;
      font-size: 21pt;
      position: relative;
      top: 30%;
      left: 5%;
  }

  /*infouser-nav-top*/.denied{
    background-color: #ed1c24;
  }

  /*infouser-nav-top*/.denied span{
    background-image: url("../images/icon_denied.png");
  }

  .denied:before{
      content: "tente novamente";
      text-transform: uppercase;
      font-size: 21pt;
      position: relative;
      top: 30%;
      left: -3%;
  }

  /*infouser-nav-top*/.none{
    background-color: #1c1c1c;
  }

  #infouser-nav-top .none p{
    display: none;
  }

  /*infouser-nav-top*/.none span{
    display: none;
  }

  #infouser-nav-body{
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 80%;
  }

  .infouser-nav-body-button{
    height: 50%;
    width: 50%;
    padding: 4% 0%;
    float: left;
  }

  .infouser-nav-body-button img{
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: 0% auto;
  }

  .infouser-nav-body-button p{
    font-size: 12pt;
    margin-top: 5%;
  }

  .infouser-nav-body-button a{
    color: #1c1c1c;
  }

  .infouser-nav-body-button a:hover{
    color: #ffffff;
  }

  .infouser-nav-body-button:hover{
    background-color: #73c04a;
  }

  .infouser-nav-body-button:nth-child(3):hover{
    border-radius: 0px 0px 0px 10px;
  }

  .infouser-nav-body-button:nth-child(4):hover{
    border-radius: 0px 0px 10px 0px;
  }

  .box-page-ps{
    width: 10%;
    position: relative;
    top: 0%;
    right: 0%;
    background-color: purple;
    display: inline-block;
    margin: 1em;
  }

  .open{
    height: auto;
    margin: 2%;
  }

  .closed{
    height: 20%;
  }

  .open .box-page-ps-top{
    width: 6em;
    height: 3.1em;
    position: absolute;
    top: 5.8em;
    left: 1.6em;
    background-color: #73c04a;
    transform: translateY(0) rotateX(0) skewX(-45deg);
    transition: transform 1s ease-in-out, height 1s ease-in-out 0.5s;
  }

  .open .box-page-ps-middle{
    width: 3em;
    height: 6em;
    position: absolute;
    top: 7.4em;
    left: 6.05em;
    background-color: #ffffff;
    transform: skewY(-45deg);
    z-index: 1;
  }

  .open .box-page-ps-bottom{
    width: 6em;
    height: 6em;
    position: absolute;
    top: 8.9em;
    left: 0em;
    background-color: #73c04a;
    z-index: 2;
    transform: translateY(0) rotateX(0);
    transition: transform 1s ease-in-out;
  }

  .open .box-page-ps-content{
    width: 6em;
    height: 6em;
    position: absolute;
    top: 8.9em;
    left: 0em;
    background-color: #3e5266;
    z-index: 0;
    text-align: center;
    color: #ffffff;
  }

  .open:hover .box-page-ps-bottom{
    transform: translateY(6em) rotateX(180deg);
  }

  .open:hover .box-page-ps-top{
    transform: translateY(-6em) rotateX(180deg) skewX(0);
    height: 6em;
  }

  .closed .box-page-ps-top{
    display: none;
  }

  .closed .box-page-ps-middle{
    display: none;
  }

  .closed .box-page-ps-bottom{
    display: none;
  }

  .closed .box-page-ps-content{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0em;
    left: 0em;
    background-color: #ffffff;
    text-align: center;
    color: #1c1c1c;
  }

  #action-page-ps{
    position: fixed;
    bottom: 0%;
    left: 40%;
    width: 20%;
    height: 5%;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    padding: 0.3em;
    transition: height 1s ease;
  }

  #action-page-ps:hover{
      height: 14%;
  }

  #action-page-ps li{
    height: 50%;
    width: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
  }

  #action-page-ps:hover li{
      opacity: 1.0;
      visibility: visible;
  }

  #action-page-ps img{
    max-height: 100%;
  }

  #form-ps{
      width: 100%;
      height: 100%;
  }

  #form-ps-information{
      height: 90%;
      width: 30%;
      float: left;
      color: #ffffff;
      text-align: center;
  }

  #form-ps-information input[type="text"]{
    height: 2.5em;
    width: 80%;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  #form-ps-dates{
      height: 90%;
      width: 70%;
      float: left;
      color: #ffffff
  }

  #form-ps-dates label{
     display: inline-block;
  }

}
