@media screen and (min-width: 481px) and (max-width: 768px){
  .center-large{
    max-width: 768px;
    width: 81.25%;
    margin: 0% auto;
  }

  .center-thin{
    max-width: 768px;
    width: 91.25%; /*(1280 px - 50px - 50px) / 1280px*/
    margin: 0% auto;
  }

  #header{
    width: 100%;
  }

  .header-large{
    height: 12%;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .header-thin{
    height: 12%;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  #header-logo{
    height: 100%;
    background-image: url("../images//logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
  }

  .header-logo-large{
    width: 29.519230769230769230769230769231%; /*(362px - 55px) / 1040px*/
    margin-right: 5.2884615384615384615384615384615%; /*55px / 1040px*/
  }

  .header-logo-thin{
    width: 29.519230769230769230769230769231%; /*(362px - 55px) / 1040px*/
    margin-right: 3.0338983050847457627118644067797%; /*35.8px / 1180px*/
  }

  #header-text{
    height: 100%;
    width: 65%;
    text-align: center;
    color: #ffffff;
    float: left;
  }

  .header-text-large{
  }

  .header-text-thin{
  }

  #header-text-large-diamond{
    height: 43.589743589743589743589743589744%; /*(195px - 55px - 55px) / 195px*/
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
  }

  .header-text-large-square-1,  .header-text-large-square-2{
    height: 28.205128205128205128205128205128%; /*55px / 195px*/
    width: 100%;
    font-size: 1.2em;
    font-weight: normal;
  }

  .header-text-large-square-1 a,  .header-text-large-square-2 a{
    color: #ffffff;
  }

  #header-text-thin-diamond{
    height: 43.589743589743589743589743589744%; /*(195px - 55px - 55px) / 195px*/
    width: 100%;
    font-size: 2em;
    font-weight: bold;
  }

  .header-text-thin-square-1,  .header-text-thin-square-2{
    height: 28.205128205128205128205128205128%; /*55px / 195px*/
    width: 100%;
    font-size: 1.4em;
    font-weight: normal;
  }

  #content{
    width: 100%;
  }

  .content-large{
    height: 90%;
  }

  .content-thin{
    height: 90%;
  }

  #login-field{
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    padding: 0.5em;
    margin: 0% auto;
    text-align: center;
  }

  #login-field-signup{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #000000;
  }

  #login-field-signup img{
    max-width: 80%;
    max-height: 80%;
  }

  #login-field-signup a{
    color: #1c1c1c;
  }

  #login-field-signup p:first-child{
    display: none
  }

  #login-field-input{
    width: 100%;
    height: 60%;
  }

  #login-field-input-submit{
    margin-top: 2%;
    height: 28%;
  }

  #login-field-input-user, #login-field-input-password{
    width: 100%;
    height: 50%;
    text-align: right;
  }

  #login-field-input-user input, #login-field-input-password input{
    width: 80%;
    height: 50%;
    padding-left: 10%;
    margin-top: 7%;
    border-radius: 10px;
    border: 2px solid #73c04a;
    font-weight: 600;
  }

  #login-field-input-user label:before{
    content: "";
    display: inline-block;
    height: 15%;
    width: 15%;
    position: absolute;
    margin: 2.3% 0% 0% -8%;
    background-image: url('../images/icon_user.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #login-field-input-password label:before{
    content: "";
    display: inline-block;
    height: 15%;
    width: 15%;
    position: absolute;
    margin: 2.3% 0% 0% -8%;
    background-image: url('../images/icon_password.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #login-field-input-password a{
    color: #1c1c1c;
    font-size: 10pt;
    display: block;
    margin-top: 1%;
  }

  #login-field-input-submit input[type="submit"]{
    width: 20%;
    height: 100%;
    display: block;
    margin: 0% auto;
    border: 0px solid #73c04a;
    background-image: url("../images//button_light_accept.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .form-column-3{
    width: 100%;
    height: auto;
    color: #ffffff;
    font-weight: lighter;
  }

  .form-column-3 input[type="text"], .form-column-3 input[type="password"]{
    height: 2.5em;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .form-column-3 input[type="submit"]{
    width: 20%;
    height: 20%;
    display: block;
    margin: 0% auto;
    border: 0px solid #73c04a;
    background-image: url("../images/button_dark_accept.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .formcolumn-3 img{
    max-width: 100%;
    max-height: 100%;
  }

  #form-photo{
    width: 100%;
    height: 60%;
    float: left;
  }

  #form-photo-frame{
    width: 100%;
    height: 90%;
    position: relative;
    top: 0%;
    left: 0%;
  }

  #form-photo-name{
    width: 100%;
    height: 1em;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  #form-photo-frame img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0% auto;
  }

  #form-photo-frame img:first-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  #form-photo-frame img:last-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
  }

  #recovery-field{
    height: 50%;
    width: 100%;
    background-color: #fff;
    padding: 1em;
    margin: 0% auto;
    border-radius: 10px;
  }

  #recovery-field h3{
      color: #1c1c1c;
  }

  #recovery-field input[type="text"]{
    width: 100%;
    height: 2em;
    margin: 3% 0%;
    border: 1px solid #73c04a;
    border-radius: 10px;
  }

  #recovery-field input[type="submit"]{
    width: 15%;
    height: 30%;
    display: block;
    margin: 0% auto;
    border: 0px solid #73c04a;
    background-image: url("../images/button_light_accept.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #profile-id{
    width: 80%;
    height: 100%;
    padding: 0.5em;
    margin: 0% auto 10% auto;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 1.4em;
  }

  #profile-id-photo{
    width: 100%;
    height: auto;
    position: relative;
    top: 0%;
    left: 0%;
    background-color: #000;
  }

  #profile-id-photo-frame{
    width: 100%;
    height: 50%;
    position: relative;
    top: 0%;
    left: 0%;
    border: 5px solid #000000;
  }

  #profile-id-photo-name{
    width: 100%;
    height: 6%;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  #profile-id-photo-frame img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0% auto;
  }

  #profile-id-photo-frame img:first-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  #profile-id-photo-frame img:last-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
  }

  #profile-id-info{
    width: 100%;
    height: 33%;
    margin-top: 2.8%;
    padding: 0.5em;
    border-top: 1px solid #000000;
  }

  #profile-id-info p:nth-child(odd){
    font-weight: bold;
  }

  #profile-nav{
    width: 100%;
    height: 25%;
    margin: 0% auto 5% auto;
    text-align: center;
  }

  #profile-nav-top{
    width: 100%;
    height: 30%;
    padding: 0.5em;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    color: #ffffff;
  }

  #profile-nav-top span{
    height: 100%;
    width: 2em;
    position: relative;
    top: 0%;
    right: 15%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
  }

  /*profile-nav-top*/.aproved{
    background-color: #83d955;
  }

  /*profile-nav-top*/.aproved span{
    background-image: url("../images/icon_aproved.png");
  }

  .aproved:before{
      content: "aprovado";
      text-transform: uppercase;
      font-size: 1.6em;
      position: relative;
      top: 15%;
      left: -1%;
  }

  /*profile-nav-top*/.avaliation{
    background-color: #b3b3b3;
  }

  /*profile-nav-top*/.avaliation span{
    display: none;
  }

  .avaliation:before{
      content: "em avaliação";
      text-transform: uppercase;
      font-size: 1.6em;
      position: relative;
      top: 10%;
      left: 7%;
  }

  /*profile-nav-top*/.denied{
    background-color: #ed1c24;
  }

  /*profile-nav-top*/.denied span{
    background-image: url("../images/icon_denied.png");
  }

  .denied:before{
      content: "tente novamente";
      text-transform: uppercase;
      font-size: 1.6em;
      position: relative;
      top: 10%;
      left: -1%;
  }

  /*profile-nav-top*/.none{
    background-color: #1c1c1c;
  }

  #profile-nav-top .none p{
    display: none;
  }

  /*profile-nav-top*/.none span{
    display: none;
  }

  #profile-nav-body{
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 70%;
  }

  .profile-nav-body-button{
    width: 25%;
    padding: 2% 0% 4% 0%;
    height: 100%;
    float: left;
  }

  .profile-nav-body-button img{
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: 0% auto;
  }

  .profile-nav-body-button p{
    font-size: 1em;
  }

  .profile-nav-body-button a{
    color: #1c1c1c;
  }

  .profile-nav-body-button a:hover{
    color: #ffffff;
  }

  .profile-nav-body-button:hover{
    background-color: #73c04a;
  }

  .profile-nav-body-button:nth-child(1):hover{
    border-radius: 0px 0px 0px 10px;
  }

  .profile-nav-body-button:nth-child(4):hover{
    border-radius: 0px 0px 10px 0px;
  }

  #interview{
    height: 80%;
    width: 100%;
    margin: 0% auto;
    overflow: scroll;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 1em;
  }

  #interview table{
    margin: 0% auto;
    background-color: #002f67;
  }

  #interview td{
    min-width: 4em;
    background-color: #fff;
  }

  #interview tr:nth-child(2) td:nth-child(n+2){
    background-color: #64a641;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    padding: 0.5em;
  }

  #interview tr:nth-child(n+3) td:first-child{
    background-color: #64a641;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    padding: 0.5em;
  }

  .edit-info-column-3{
    width: 100%;
    height: auto;
    color: #ffffff;
    font-size: 1.4em;
  }

  .edit-info-column-3 input[type="text"], .edit-info-column-3 input[type="password"]{
    height: 2.5em;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.8em;
  }

  .edit-info-column-3 img{
    max-width: 100%;
    max-height: 100%;
  }

  #edit-info-photo{
    width: 100%;
    height: 55%;
    float: left;
  }

  #edit-info-photo-frame{
    width: 100%;
    height: 92.1%;
    position: relative;
    top: 0%;
    left: 0%;
  }

  #edit-info-photo-name{
    width: 100%;
    height: 10%;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  #edit-info-photo-frame img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0% auto;
  }

  #edit-info-photo-frame img:first-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  #edit-info-photo-frame img:last-child{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
  }

  #email-field{
    height: 55%;
    width: 100%;
    padding: 0.8em;
    background-color: #ffffff;
    margin: 0% auto;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: #1c1c1c;
  }

  #email-field-message{
    height: 80%;
    width: 100%;
  }

  #email-field-message textarea{
    height: 80%;
    width: 100%;
    padding: 0.5em;
    margin-top: 5%;
    border: 1px solid #1c1c1c;
    border-radius: 10px;
    resize: none;
    font-family: 'Open Sans';
    font-size: 10pt;
  }

  #email-field-footer{
    height: 20%;
    width: 100%;
  }

      @media screen and (orientation: landscape){
        .header-large{
          height: 28%;
          margin-top: 7%;
          margin-bottom: 7%;
        }

        .header-thin{
          height: 28%;
          margin-top: 7%;
          margin-bottom: 7%;
        }

        .header-logo-large{
          width: 36.519231%; /*(362px - 55px) / 1040px*/
          margin-right: 5.2884615384615384615384615384615%; /*55px / 1040px*/
        }

        .header-logo-thin{
          width: 29.519230769230769230769230769231%; /*(362px - 55px) / 1040px*/
          margin-right: 3.0338983050847457627118644067797%; /*35.8px / 1180px*/
        }

        #header-text{
          height: 100%;
        }

        .header-text-large{
          width: 58%;
        }

        #header-text-large-diamond{
          font-size: 2.2em;
        }

        .header-text-large-square-1,  .header-text-large-square-2{
          font-size: 18pt;
        }

        #header-text-thin-diamond{
          font-size: 2em;
        }

        .header-text-thin-square-1,  .header-text-thin-square-2{
          font-size: 1.4em;
        }

      }
}
