#header{
    height: 20%;
    margin-top: 4em;
    margin-bottom: 4em;
}

#header-logo{
    height: 100%;
}

#header-text{
    height: 100%;
    color: #fff;
}

.header-text-middle{
    display: block;
    height: 43.589743589743589743589743589744%;
    width: 100%;
    font-weight: bold;
    font-size: 4em;
}

.htm .header-text-middle{
    font-size: 3em;
}

@media screen and (orientation: landscape){
    .header-text-middle{
        text-align: center;
    }
}

.header-text-aside{
    display: block;
    height: 28.205128205128205128205128205128%;
    width: 100%;
    font-size: 2.3em;
    text-align: center;
}

.header-text-aside a{
    color: #fff;
}

@media screen and (max-width: 480px){
  .header-text-middle{
    font-size: 2em;
    text-align: center;
}
  .header-text-aside{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 719px){
  .header-text-middle{
    font-size: 2em;
    text-align: center;
}
  .header-text-aside{
    font-size: 1.5em;
  }
}

@media screen and (min-width: 720px){
  .header-text-middle{
    font-size: 3em;
    text-align: center;
}
  .header-text-aside{
    font-size: 2em;
  }
}

#header-m{
    height: 15%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#header-m-logo{
    height: 100%;
}

#header-m-text{
    height: 100%;
    color: #fff;
}

.header-m-text-middle{
    display: block;
    height: 43.589743589743589743589743589744%;
    width: 100%;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.2;
}

@media screen and (orientation: landscape){
    .header-text-middle{
        text-align: center;
    }
}

.header-m-text-aside{
    display: block;
    height: 28.205128205128205128205128205128%;
    width: 80%;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.2;
}

.header-m-aside a{
    color: #fff;
}

@media screen and (max-width: 720px){
  .header-m-text-middle{
    text-align: center;
}
  .header-m-text-aside{
    text-align: center;
  }
}

.header-uppercase{
    color: #83d955;
    font-weight: bold;
}

@media screen and (max-width: 991px){
    #navbar{
        background-color: #ffffff;
        height: 4em;
        width: 4em;
        position: absolute;
        top: 2%;
        left: 2%;
        padding: 0.5em;
        border-radius: 10px;
        opacity: 1;
        color: #1c1c1c;
        transition: all 1s ease 0s;
    }

    #navbar li{
        margin: 0.5em;
        display: block;
        opacity: 0;
        visibility: none;
        transition: opacity 0.6s ease 0s;
    }

    #navbar:before{
        display: block;
        content:"";
        background-image: url('../images/options_nav.png');
        height: 4em;
        width: 4em;
        margin: -0.5em 0em 0em -0.5em;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #navbar:hover{
        height: 6em;
        width: 6em;
        opacity: 0.9;
    }

    #navbar:hover:before{
        display: none;
    }

    #navbar:hover li{
        opacity: 1;
        visibility: visible;
    }

    #navbar li:hover{
        background-color: #83d955;
    }

}

@media screen and (min-width: 992px){
    #navbar{
        background-color: #ffffff;
        height: 2.5em;
        width: 5em;
        position: absolute;
        top: 10%;
        right: 10%;
        padding: 0.5em;
        opacity: 1;
        color: #1c1c1c;
        transition: all 1s ease 0s;
    }

    #navbar li{
        margin: 0.5em;
        display: block;
        opacity: 0;
        visibility: none;
        transition: opacity 0.6s ease 0s;
    }

    #navbar:before{
        display: block;
        content:"MENU";
        height: 4em;
        width: 4em;
        font-weight: bold;
        text-align: center;
    }

    #navbar:hover{
        height: 6em;
        width: 6em;
    }

    #navbar:hover:before{
        display: none;
    }

    #navbar:hover li{
        opacity: 1;
        visibility: visible;
    }

    #navbar li:hover{
        background-color: #83d955;
    }
}

.btn-light-accept{
    background-image: url("../images/button_light_accept.png");
}

.btn-dark-accept{
  background-image: url("../images/button_dark_accept.png");
}

.btn-light-cancel{
    background-image: url("../images/button_light_cancel.png");
}

.btn-dark-cancel{
  background-image: url("../images/button_dark_cancel.png");
}

.btn-light-update{
    background-image: url("../images/button_light_update.png");
}

.btn-dark-update{
  background-image: url("../images/button_dark_update.png");
}

/*Customização Radio Button*/
input[type=radio]{
  display: none;
}

.label-radio{
  display: block;
  height: 1.5em;
  width: 8em;
  background-color: #73c04a;
  font-size: 1.6em;
  text-align: center;
  margin: 0% auto;
  color: #ffffff;
  font-weight: normal;
}

.label-radio:before{
    display: block;
    content: "";
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-left: -0.7em;
    background-image: url("http://localhost/sistemaps/CodeIgniter_2.2.0/assets/images/radio_clean.png");
    background-size: contain;
}

input[type=radio]:checked + .label-radio:before{
    background-image: url("http://localhost/sistemaps/CodeIgniter_2.2.0/assets/images/radio_clicked.png");
}

#login-field{
    padding: 1em;
    background-color: #fff;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

#login-field input[type=text], #login-field input[type=password]{
    border-radius: 10px;
    border: 1px solid #73c14a;
    padding-left: 4.3em;
    margin-bottom: 0.5em;
}

#login-field label:before{
    content: "";
    display: inline-block;
    height: 4em;
    width: 4em;
    position: absolute;
    margin: -1% 0% 0% -2%;
    background-size: contain;
    background-repeat: no-repeat;
}

#login-field label[for=login-field-user]:before{
    background-image: url('../images/icon_user.png');
}

#login-field label[for=login-field-password]:before{
  background-image: url('../images/icon_password.png');
}

#login-field-signup{
    height: 170px;
    border-left: 1px solid #000;
    text-align: justify;
    width: 85px;
}

#login-field-signup p{
    width: 100%;
}

#login-field-signup img{
    height: 4em;
    width: 6em;
}

@media screen and (min-width: 1200px){
    #profile-id{
      width: 100%;
      min-height: 350px;
      padding: 1em;
      background-color: #ffffff;
      border-radius: 10px;
    }

    #profile-id-photo{
      width: 39%;
      height: 100%;
      float: left;
      margin-right: 3%;:
    }

    #profile-id-photo-frame{
      width: 100%;
      height: 88%;
      position: relative;
      top: 0%;
      left: 0%;
      border: 5px solid #000000;
    }

    #profile-id-photo-name{
      width: 100%;
      height: 12%;
      background-color: #000000;
      color: #ffffff;
      text-align: center;
      font-weight: bold;
      font-size: 1.4em;
    }

    #profile-id-photo-frame img{
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0% auto;
      padding: 1em;
      border-radius: 100em;
    }

    #profile-id-info{
      width: 50%;
      min-height: 80%;
      max-height: 80%;
      padding: 0.5em;
      position: relative;
      top: 0%;
      left: 0%;
      display: inline-block;
      line-height: 1.2;
      font-size: 1.1em;
    }

    #profile-id-info p:nth-child(odd){
      font-weight: bold;
    }

    #profile-nav{
      width: 100%;
      min-height: 350px;
      margin: 0%;
      text-align: center;
    }

    #profile-nav-top{
      width: 100%;
      height: 20%;
      padding: 0.5em;
      border-radius: 10px 10px 0px 0px;
      font-weight: bold;
      color: #ffffff;
    }

    #profile-nav-top p{
      max-width: 70%;
      display: inline-block;
      font-size: 18pt;
    }

    #profile-nav-top span{
      height: 100%;
      width: 15%;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      float: right;
      position: relative;
      top: 8%;
      right: 5%;
    }

    /*profile-nav-top*/.aproved{
      background-color: #83d955;
    }

    /*profile-nav-top*/.aproved span{
      background-image: url("../images/icon_aproved.png");
    }

    /*profile-nav-top*/.aproved:before{
        content: "aprovado";
        text-transform: uppercase;
        font-size: 21pt;
        position: relative;
        top: 30%;
        left: 5%;
    }

    /*profile-nav-top*/.avaliation{
      background-color: #b3b3b3;
    }

    /*profile-nav-top*/.avaliation span{
      display: none;
    }

    /*profile-nav-top*/.avaliation:before{
        content: "em avaliação";
        text-transform: uppercase;
        font-size: 21pt;
        position: relative;
        top: 30%;
        left: 0%;
    }

    /*profile-nav-top*/.denied{
      background-color: #ed1c24;
    }

    /*profile-nav-top*/.denied span{
      background-image: url("../images/icon_denied.png");
    }

    /*profile-nav-top*/ .denied:before{
        content: "tente novamente";
        text-transform: uppercase;
        font-size: 21pt;
        position: relative;
        top: 30%;
        left: -3%;
    }

    /*profile-nav-top*/.signin{
      background-color: #83d955;
    }

    /*profile-nav-top*/.signin span{
      display: none;
    }

    /*profile-nav-top*/.signin:before{
        content: "inscreva-se";
        text-transform: uppercase;
        font-size: 1.6em;
        position: relative;
        top: 10%;
        left: 7%;
    }

    /*profile-nav-top*/.none{
      background-color: #1c1c1c;
    }

    /*#profile-nav-top*/ .none p{
      display: none;
    }

    /*profile-nav-top*/.none span{
      display: none;
    }

    #profile-nav-body{
        background-color: #ffffff;
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        height: 80%;
    }

    .profile-nav-body-button{
        display: inline-block;
        height: 50%;
        width: 49.4%;
        padding: 4% 0%;
    }

    .profile-nav-body-button img{
      max-width: 44%;
      max-height: 44%;
      display: block;
      margin: 0% auto;
    }

    .profile-nav-body-button p{
      font-size: 12pt;
      margin-top: 5%;
    }

    .profile-nav-body-button a{
      color: #1c1c1c;
    }

    .profile-nav-body-button a:hover{
      color: #ffffff;
    }

    .profile-nav-body-button:hover{
      background-color: #73c04a;
    }

    .profile-nav-body-button:nth-child(3):hover{
      border-radius: 0px 0px 0px 10px;
    }

    .profile-nav-body-button:nth-child(4):hover{
      border-radius: 0px 0px 10px 0px;
    }
}

@media screen and (min-width: 721px) and (max-height: 1199px){
    #profile-id{
      width: 100%;
      min-height: 350px;
      padding: 1em;
      background-color: #ffffff;
      border-radius: 10px;
    }

    #profile-id-photo{
      width: 39%;
      height: 100%;
      float: left;
      margin-right: 3%;:
    }

    #profile-id-photo-frame{
      width: 100%;
      height: 88%;
      position: relative;
      top: 0%;
      left: 0%;
      border: 5px solid #000000;
    }

    #profile-id-photo-name{
      width: 100%;
      height: 12%;
      background-color: #000000;
      color: #ffffff;
      text-align: center;
      font-weight: bold;
      font-size: 1.4em;
    }

    #profile-id-photo-frame img{
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0% auto;
      padding: 1em;
      border-radius: 100em;
    }

    #profile-id-info{
      width: 50%;
      max-height: 80%;
      padding: 0.5em;
      position: relative;
      top: 0%;
      left: 0%;
      display: inline-block;
      line-height: 1.2;
      font-size: 1em;
    }

    #profile-id-info p:nth-child(odd){
      font-weight: bold;
    }

    #profile-nav{
      width: 100%;
      min-height: 350px;
      margin: 0%;
      text-align: center;
    }

    #profile-nav-top{
      width: 100%;
      height: 20%;
      padding: 0.5em;
      border-radius: 10px 10px 0px 0px;
      font-weight: bold;
      color: #ffffff;
    }

    #profile-nav-top p{
      max-width: 70%;
      display: inline-block;
      font-size: 18pt;
    }

    #profile-nav-top span{
      height: 100%;
      width: 15%;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      float: right;
      position: relative;
      top: 8%;
      right: 5%;
    }

    /*profile-nav-top*/.aproved{
      background-color: #83d955;
    }

    /*profile-nav-top*/.aproved span{
      background-image: url("../images/icon_aproved.png");
    }

    /*profile-nav-top*/.aproved:before{
        content: "aprovado";
        text-transform: uppercase;
        font-size: 21pt;
        position: relative;
        top: 30%;
        left: 5%;
    }

    /*profile-nav-top*/.avaliation{
      background-color: #b3b3b3;
    }

    /*profile-nav-top*/.avaliation span{
      display: none;
    }

    /*profile-nav-top*/.avaliation:before{
        content: "em avaliação";
        text-transform: uppercase;
        font-size: 21pt;
        position: relative;
        top: 30%;
        left: 0%;
    }

    /*profile-nav-top*/.denied{
      background-color: #ed1c24;
    }

    /*profile-nav-top*/.denied span{
      background-image: url("../images/icon_denied.png");
    }

    /*profile-nav-top*/ .denied:before{
        content: "tente novamente";
        text-transform: uppercase;
        font-size: 21pt;
        position: relative;
        top: 30%;
        left: -3%;
    }

    /*profile-nav-top*/.signin{
      background-color: #83d955;
    }

    /*profile-nav-top*/.signin span{
      display: none;
    }

    /*profile-nav-top*/.signin:before{
        content: "inscreva-se";
        text-transform: uppercase;
        font-size: 1.6em;
        position: relative;
        top: 10%;
        left: 7%;
    }

    /*profile-nav-top*/.none{
      background-color: #1c1c1c;
    }

    /*#profile-nav-top*/ .none p{
      display: none;
    }

    /*profile-nav-top*/.none span{
      display: none;
    }

    #profile-nav-body{
        background-color: #ffffff;
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        height: 80%;
    }

    .profile-nav-body-button{
        display: inline-block;
        height: 50%;
        width: 49.3%;
        padding: 4% 0%;
    }

    .profile-nav-body-button img{
      max-width: 40%;
      max-height: 40%;
      display: block;
      margin: 0% auto;
    }

    .profile-nav-body-button p{
      font-size: 12pt;
      margin-top: 5%;
    }

    .profile-nav-body-button a{
      color: #1c1c1c;
    }

    .profile-nav-body-button a:hover{
      color: #ffffff;
    }

    .profile-nav-body-button:hover{
      background-color: #73c04a;
    }

    .profile-nav-body-button:nth-child(3):hover{
      border-radius: 0px 0px 0px 10px;
    }

    .profile-nav-body-button:nth-child(4):hover{
      border-radius: 0px 0px 10px 0px;
    }
}

@media screen and (max-width: 720px){
    #profile-id{
      width: 80%;
      height: 100%;
      padding: 0.5em;
      margin: 0% auto 10% auto;
      background-color: #ffffff;
      border-radius: 10px;
      font-size: 1.4em;
    }

    #profile-id-photo{
      width: 100%;
      height: auto;
      position: relative;
      top: 0%;
      left: 0%;
    }

    #profile-id-photo-frame{
      width: 100%;
      height: 50%;
      position: relative;
      top: 0%;
      left: 0%;
      border: 5px solid #000000;
    }

    #profile-id-photo-name{
      width: 100%;
      height: 6%;
      color: #ffffff;
      text-align: center;
      font-weight: bold;
      background-color: #000;
    }

    #profile-id-photo-frame img{
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0% auto;
      padding: 0.6em;
      border-radius: 100em;
    }

    #profile-id-info{
      width: 100%;
      height: 33%;
      margin-top: 2.8%;
      padding: 0.5em;
      border-top: 1px solid #000000;
    }

    #profile-id-info p:nth-child(odd){
      font-weight: bold;
    }

    #profile-nav{
      width: 100%;
      height: 25%;
      margin: 0% auto 5% auto;
      text-align: center;
    }

    #profile-nav-top{
      width: 100%;
      height: 30%;
      padding: 0.5em;
      border-radius: 10px 10px 0px 0px;
      font-weight: bold;
      color: #ffffff;
    }

    #profile-nav-top span{
      height: 100%;
      width: 2em;
      position: relative;
      top: 0%;
      right: 15%;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      float: right;
    }

    /*profile-nav-top*/.aproved{
      background-color: #83d955;
    }

    /*profile-nav-top*/.aproved span{
      background-image: url("../images/icon_aproved.png");
    }

    .aproved:before{
        content: "aprovado";
        text-transform: uppercase;
        font-size: 1.6em;
        position: relative;
        top: 15%;
        left: -1%;
    }

    /*profile-nav-top*/.avaliation{
      background-color: #b3b3b3;
    }

    /*profile-nav-top*/.avaliation span{
      display: none;
    }

    /*profile-nav-top*/.avaliation:before{
        content: "em avaliação";
        text-transform: uppercase;
        font-size: 1.6em;
        position: relative;
        top: 10%;
        left: 7%;
    }

    /*profile-nav-top*/.signin{
      background-color: #83d955;
    }

    /*profile-nav-top*/.signin span{
      display: none;
    }

    /*profile-nav-top*/.signin:before{
        content: "inscreva-se";
        text-transform: uppercase;
        font-size: 1.6em;
        position: relative;
        top: 10%;
        left: 7%;
    }

    /*profile-nav-top*/.denied{
      background-color: #ed1c24;
    }

    /*profile-nav-top*/.denied span{
      background-image: url("../images/icon_denied.png");
    }

    .denied:before{
        content: "tente novamente";
        text-transform: uppercase;
        font-size: 1.6em;
        position: relative;
        top: 10%;
        left: -1%;
    }

    /*profile-nav-top*/.none{
      background-color: #1c1c1c;
    }

    #profile-nav-top .none p{
      display: none;
    }

    /*profile-nav-top*/.none span{
      display: none;
    }

    #profile-nav-body{
      background-color: #ffffff;
      border-radius: 0px 0px 10px 10px;
      width: 100%;
      height: 70%;
    }

    .profile-nav-body-button{
        display: inline-block;
        width: 24%;
        padding: 2% 0% 4% 0%;
        height: 100%;
        font-size: 0.9em;
    }

    .profile-nav-body-button img{
      max-width: 80%;
      max-height: 80%;
      display: block;
      margin: 0% auto;
    }

    .profile-nav-body-button p{
      font-size: 1em;
    }

    .profile-nav-body-button a{
      color: #1c1c1c;
    }

    .profile-nav-body-button a:hover{
      color: #ffffff;
    }

    .profile-nav-body-button:hover{
      background-color: #73c04a;
    }

    .profile-nav-body-button:nth-child(1):hover{
      border-radius: 0px 0px 0px 10px;
    }

    .profile-nav-body-button:nth-child(4):hover{
      border-radius: 0px 0px 10px 0px;
    }
}

.form-column{
    color: #fff;
}

#edit-info-photo{
  width: 100%;
  height: 80%;
  float: left;
}

#edit-info-photo-frame{
  width: 80%;
  height: 90%;
  position: relative;
  top: 0%;
  left: 0%;
  background-color: #fff;
}

#edit-info-photo-name{
  width: 100%;
  height: 10%;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

#edit-info-photo-frame img{
  max-width: 100%;
  max-height: 50%;
  display: block;
  margin: 0% auto;
  border-radius: 100em;
}

#email-field{
  height: 80%;
  width: 100%;
  padding: 1em;
  background-color: #ffffff;
  margin: 0% auto;
  border-radius: 10px;
}

#email-field-message{
  height: 80%;
  width: 100%;
}

#email-field-message textarea{
  height: 80%;
  width: 100%;
  padding: 0.5em;
  margin-top: 2%;
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  resize: none;
  font-family: 'Open Sans';
  font-size: 10pt;
}

#email-field-footer{
  height: 20%;
  width: 100%;
}

#feedback{
  height: 90%;
}

#feedback-text{
    width: 80%;
}

#feedback-nav{
    width: 20%;
    min-height: 25em;
    float: right;
    border-left: 1px solid #000;
}

#feedback-text-message{
    width: 100%;
    min-height: 25em;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em 0em 0em 0em;
}

#feedback-text-footer{
    width: 100%;
    height: 20%;
    background-color: #fff;
    border-radius: 0em 0em 0em 1em;
    border-top: 1px solid #000;
    text-align: center;
    padding: 1em;
}

#feedback-nav-top{
    width: 100%;
    min-height: 3em;
    background-color: #73c14a;
    border-radius: 0em 1em 0em 0em;
    border-bottom: 1px solid #000;
    padding-top: 10%;
    color: #fff;
    text-align: center;
    font-size: 1.6em;
}

#feedback-nav-body{
    width: 100%;
    min-height: 25.85em;
    background-color: #fff;
    border-radius: 0em 0em 1em 0em;
    text-align: center;
    padding: 0.5em 0em;
}

.feedback-nav-before, .feedback-nav-after{
    display: none;
}

#feedback-nav-body a{
   margin: 0em 0em 1em 0em;
   font-size: 2em;
}

#feedback-nav-body a:hover{
   background-color: #73c14a;
   color: #fff;
}

#postlogin-field{
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

.postlogin-field-button{
  height: 100%;
  width: 50%;
  padding: 2% 0% 2% 0%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  color: #1c1c1c;
}

.postlogin-field-button a{
  color: #1c1c1c;
}

.postlogin-field-button img{
  max-height: 100%;
  max-width: 100%;
}

.postlogin-field-button:last-child{
  border-left: 3px solid #1c1c1c;
}

.postlogin-field-button:hover, .postlogin-field-button:hover a{
  background-color: #73c04a;
  color: #ffffff;
}

.postlogin-field-button:hover:first-child{
  border-radius: 10px 0px 0px 10px;
}

.postlogin-field-button:hover:last-child{
  border-radius: 0px 10px 10px 0px;
}

#form-photo{
  width: 100%;
  height: 80%;
  float: left;
}

#form-photo-frame{
  width: 80%;
  height: 90%;
  position: relative;
  top: 0%;
  left: 0%;
  background-color: #fff;
}

#form-photo-name{
  width: 100%;
  height: 10%;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

#form-photo-frame img{
  max-width: 100%;
  max-height: 50%;
  display: block;
  margin: 0% auto;
  border-radius: 100em;
}

#interview table{
    background-color: #fff;
}

.interview-hour, .interview-date{
    background-color: #73c04a;
}

.interview-empty{
    background-color: #558c37;
}

.interview-check{
    background-color: #fff;
}

  #button-prefiro-responder-depois {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 22px;
    color: white;
  }
